.main-container{
    width: 40%;
    padding-top: 20px;
    background-color: #86cfda;
}

label{
    text-transform: uppercase;
    font-weight: bold;
}

.submitt-button{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.table-container{
    padding-top: 30px;
    text-align: center;
}
